{% extends "base.html" %}
{% block javascript %}

<script type="text/javascript" language="javascript" src="{{ url_for('static', filename = 'jquery/jquery.js') }}"></script>
<script type="text/javascript" language="javascript" src="{{ url_for('static', filename = 'bootstrap/js/bootstrap.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'bootstrap/css/bootstrap.min.css') }}" data-page-node-id="quAKJmGHdLFfrQF4KQ7WW8"></link>
<script type="text/javascript" language="javascript" src="{{ url_for('static', filename = 'datatables/datatables.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'datatables/datatables.min.css') }}" data-page-node-id="KOnE5T6ZZFAfhk8fBMHVp2"></link>
<script type="text/javascript" language="javascript" src="{{ url_for('static', filename = 'socketio/socket.io.min.js') }}"></script>
<script type="text/javascript" language="javascript" src="{{ url_for('static', filename = 'js/utility.js') }}"></script>
<link href="{{ url_for('static', filename = 'bootstrap/datetimepicker/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" media="screen" data-page-node-id="QSvKkuh86elrTTybnRiuPj">
<script type="text/javascript" language="javascript" src="{{ url_for('static', filename = 'bootstrap/datetimepicker/js/bootstrap-datetimepicker.js') }}" charset="UTF-8"></script>
<script type="text/javascript" language="javascript" src="{{ url_for('static', filename = 'bootstrap/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js') }}" charset="UTF-8"></script>
<script type="text/javascript" language="javascript" src="{{ url_for('static', filename = 'echarts/echarts.min.js') }}"></script>
<script type="text/javascript" language="javascript" class="init">
    var netValueChart = null;
    // one-shot guard so a payload/field-name mismatch is reported once instead of
    // every 10s push
    var detailKeyWarned = false;

    $(document).ready(function() {
        InitTableConfig();
        // initNetValueChart();
        var namespace = '/account_info';
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        socket.on('connect', function () {
            setConnectionStatus('#connStatus', true);
        });

        socket.on('disconnect', function () {
            setConnectionStatus('#connStatus', false);
        });

        socket.on('account_info_detail', function (res) {
            var ty = res.text['type']
            if (ty == 1) { // account detail
                var viewedAccountId = Number($("#accountId").val());
                var item = res.text['data'];
                var accounts = item.list;
                for (var k in accounts) {
                    account = accounts[k];
                    // NOTE: the detail payload (type 1) identifies the account with
                    // `account_id` -- see AccountItem::GetDetail() ->
                    // detailV.AddMember("account_id", accountId, allocator).
                    // The overview payload (type 4) uses PascalCase `AccountID`
                    // (AccountItem::GetPreview()); the two builders are not consistent.
                    // This line used to read a `customer_id` field that no producer
                    // emits, so Number(undefined) === NaN and the comparison below never
                    // matched -> the page stayed empty even though data arrived.
                    var accId = Number(account.account_id);
                    if (account.account_id === undefined && !detailKeyWarned) {
                        detailKeyWarned = true;
                        console.warn('account_info_detail: payload item has no account_id, keys =', Object.keys(account));
                    }
                    if (accId === viewedAccountId) {
                        touchLastUpdated('#connStatus');

                        // var cFutureAssetChecked = account.CFutureAssetChecked;
                        // if (JSON.stringify(cFutureAssetChecked) != '{}') {

                        // }

                        // var cFuturePositionChecked = account.CFuturePositionChecked;
                        // if (JSON.stringify(cFuturePositionChecked) != '{}') {

                        // }
                        
                        // var deliveryAssetChecked = account.DeliveryAssetChecked;
                        // if (JSON.stringify(deliveryAssetChecked) != '{}') {

                        // }
                        
                        // var deliveryPositionChecked = account.DeliveryPositionChecked;
                        // if (JSON.stringify(deliveryPositionChecked) != '{}') {

                        // }

                        var exposureFormChecked = account.ExposureFormChecked;
                        if (JSON.stringify(exposureFormChecked) != '{}') {
                            var exposureFormJson = [];
                            for (var exposureK in exposureFormChecked) {
                                exposureItem = exposureFormChecked[exposureK];
                                var symbol = exposureK;
                                var deltaAmount = exposureItem.DeltaAmount.split('|')[0];
                                var deltaValue = exposureItem.DeltaValue.split('|')[0];
                                var exposureAmount = exposureItem.ExposureAmount.split('|')[0];
                                var exposureValue = exposureItem.ExposureValue.split('|')[0];
                                var initialAmount = exposureItem.InitialAmount.split('|')[0];
                                var initialValue = exposureItem.InitialValue.split('|')[0];
                                var data = {'Symbol': symbol, 'DeltaAmount': deltaAmount, 'DeltaValue': deltaValue, 'ExposureAmount': exposureAmount, 'ExposureValue': exposureValue, 'InitialAmount': initialAmount, 'InitialValue': initialValue};
                                exposureFormJson.push(data);
                                RefreshTable('#exposure_form', exposureFormJson);
                            }
                        }

                        var mainFormChecked = account.MainFormChecked;
                        if (JSON.stringify(mainFormChecked) != '{}') {
                            var productName = '';
                            var accountId = '';
                            var baseAsset = '';
                            var time = '';
                            var updateTimeD = '';
                            var netValueD = '';
                            var netValueGrowthRateD = '';
                            var maxValueToLoanRatioD = '';
                            var maxRealLeverageD = '';
                            var riskExposureD = '';
                            var underwayOrderValueD = '';
                            var verifyRisk = '';
                            var utilization = '';
                            // console.log(mainFormChecked);
                            for (var mainK in mainFormChecked) {
                                mainItem = mainFormChecked[mainK];
                                var itemKey = mainItem.key;
                                var itemValue = mainItem.value;
                                if (itemKey == 'ProductName') {
                                    productName = itemValue;
                                } 
                                else if (itemKey == 'AccountID') {
                                    accountId = itemValue;
                                }   
                                else if (itemKey == 'BaseAsset') {
                                    baseAsset = itemValue;
                                } 
                                else if (itemKey == 'Time') {
                                    time = itemValue;
                                } 
                                else if (itemKey == 'UpdateTime_D') {
                                    updateTimeD = itemValue;
                                }
                                else if (itemKey == 'NetValue_D') {
                                    netValueD = itemValue;
                                }
                                else if (itemKey == 'NetValueGrowthRate_D') {
                                    netValueGrowthRateD = itemValue;
                                }
                                else if (itemKey == 'MaxValueToLoanRatio_D') {
                                    maxValueToLoanRatioD = itemValue;
                                }
                                else if (itemKey == 'MaxRealLeverage_D') {
                                    maxRealLeverageD = itemValue;
                                }
                                else if (itemKey == 'RiskExposure_D') {
                                    riskExposureD = itemValue;
                                }
                                else if (itemKey == 'UnderwayOrderValue_D') {
                                    underwayOrderValueD = itemValue;
                                }
                                else if (itemKey == 'VerifyRisk') {
                                    verifyRisk = itemValue;
                                } 
                                else if (itemKey == 'Utilization') {
                                    utilization = itemValue;
                                }
                            }
                            
                            // render the account "profile" fields directly into the header
                            // cards instead of a generic key/value DataTable (see #detailHeader
                            // and .stat-row in the content block below)
                            $('#fieldProductName').text(productName || '--');
                            $('#fieldAccountId').text(accountId || '--');
                            $('#fieldBaseAsset').text(baseAsset || '--');
                            $('#fieldTime').text(time || '--');
                            $('#fieldUpdateTime').text(updateTimeD || '--');
                            $('#fieldNetValue').text(netValueD || '--');
                            $('#fieldNetValueGrowthRate').text(netValueGrowthRateD || '--');
                            $('#fieldMaxValueToLoanRatio').text(maxValueToLoanRatioD || '--');
                            $('#fieldMaxRealLeverage').text(maxRealLeverageD || '--');
                            $('#fieldRiskExposure').text(riskExposureD || '--');
                            $('#fieldUnderwayOrderValue').text(underwayOrderValueD || '--');
                            $('#fieldVerifyRisk').text(verifyRisk || '--');
                            $('#fieldUtilization').text(utilization || '--');

                            // Utilization is rendered as a plain value plus a generic 0-100%
                            // progress bar when it parses as a percentage; this is purely a
                            // visual aid and does not apply any risk judgement of our own.
                            var utilizationPct = parseFloat(String(utilization).replace('%', ''));
                            if (!isNaN(utilizationPct)) {
                                var clampedPct = Math.max(0, Math.min(100, utilizationPct));
                                $('#fieldUtilizationBar').css('width', clampedPct + '%');
                            } else {
                                $('#fieldUtilizationBar').css('width', '0%');
                            }
                        }

                        var perpetualAssetChecked = account.PerpetualAssetChecked;
                        if (JSON.stringify(perpetualAssetChecked) != '{}') {
                            var perpetualAssetJson = [];
                            for (var assetK in perpetualAssetChecked) {
                                perpetualAssetItem = perpetualAssetChecked[assetK];
                                var asset = perpetualAssetItem.asset.split('|')[0];
                                var availableAmount = perpetualAssetItem.availableAmount.split('|')[0];
                                var floatAmount_d = perpetualAssetItem.floatAmount_d.split('|')[0];
                                var frozenAmount_d = perpetualAssetItem.frozenAmount_d.split('|')[0];
                                var frozenMarginAmount_d = perpetualAssetItem.frozenMarginAmount_d.split('|')[0];
                                var initialAmount = perpetualAssetItem.initialAmount.split('|')[0];
                                var marginAmount_d = perpetualAssetItem.marginAmount_d.split('|')[0];
                                var netAmount = perpetualAssetItem.netAmount.split('|')[0];
                                var positionValue = perpetualAssetItem.positionValue.split('|')[0];
                                var realLeverageRatio = perpetualAssetItem.realLeverageRatio.split('|')[0];
                                var totalAmount_d = perpetualAssetItem.totalAmount_d.split('|')[0];
                                var transferAmount = perpetualAssetItem.transferAmount.split('|')[0];
                                var transferFrozenAmount = perpetualAssetItem.transferFrozenAmount.split('|')[0];
                                var data = {'asset': asset, 'availableAmount': availableAmount, 'floatAmount_d': floatAmount_d, 'frozenAmount_d': frozenAmount_d, 'frozenMarginAmount_d': frozenMarginAmount_d, 'initialAmount': initialAmount, 'marginAmount_d': marginAmount_d, 'netAmount': netAmount, 'positionValue': positionValue, 'realLeverageRatio': realLeverageRatio, 'totalAmount_d': totalAmount_d, 'transferAmount': transferAmount, 'transferFrozenAmount': transferFrozenAmount};
                                perpetualAssetJson.push(data);
                                RefreshTable('#perpetual_asset', perpetualAssetJson);
                            }
                        }

                        var perpetualPositionChecked = account.PerpetualPositionChecked;
                        if (JSON.stringify(perpetualPositionChecked) != '{}') {
                            var perpetualPositionJson = [];
                            for (var positionK in perpetualPositionChecked) {
                                var perpetualPositionItem = perpetualPositionChecked[positionK];
                                var instrumentKey = perpetualPositionItem.instrumentKey;
                                var netPosition_d = perpetualPositionItem.netPosition_d.split('|')[0];
                                var netAvgPrice_d = perpetualPositionItem.netAvgPrice_d.split('|')[0];
                                var floatAmount_d = perpetualPositionItem.floatAmount_d.split('|')[0];
                                var liquidationPrice_d = perpetualPositionItem.liquidationPrice_d.split('|')[0];
                                var underwayAbPosition = perpetualPositionItem.underwayAbPosition.split('|')[0];
                                var underwayNetPosition = perpetualPositionItem.underwayNetPosition.split('|')[0];
                                var data = {'instrumentKey': instrumentKey, 'netPosition_d': netPosition_d, 'netAvgPrice_d': netAvgPrice_d, 'floatAmount_d': floatAmount_d, 'liquidationPrice_d': liquidationPrice_d, 'underwayAbPosition': underwayAbPosition, 'underwayNetPosition': underwayNetPosition};
                                perpetualPositionJson.push(data);
                                RefreshTable('#perpetual_position', perpetualPositionJson);
                            }
                        }

                        var spotAssetChecked = account.SpotAssetChecked;
                        if (JSON.stringify(spotAssetChecked) != '{}') {
                            var spotAssetJson = [];
                            for (var assetK in spotAssetChecked) {
                                var spotAssetItem = spotAssetChecked[assetK];
                                var asset = spotAssetItem.asset.split('|')[0];
                                var availableAmount = spotAssetItem.availableAmount.split('|')[0];
                                var floatAmount_d = spotAssetItem.floatAmount_d.split('|')[0];
                                var frozenAmount_d = spotAssetItem.frozenAmount_d.split('|')[0];
                                var frozenMarginAmount_d = spotAssetItem.frozenMarginAmount_d.split('|')[0];
                                var initialAmount = spotAssetItem.initialAmount.split('|')[0];
                                var marginAmount_d = spotAssetItem.marginAmount_d.split('|')[0];
                                var netAmount = spotAssetItem.netAmount.split('|')[0];
                                var positionValue = spotAssetItem.positionValue.split('|')[0];
                                var realLeverageRatio = spotAssetItem.realLeverageRatio.split('|')[0];
                                var totalAmount_d = spotAssetItem.totalAmount_d.split('|')[0];
                                var transferAmount = spotAssetItem.transferAmount.split('|')[0];
                                var transferFrozenAmount = spotAssetItem.transferFrozenAmount.split('|')[0];
                                var data = {'asset': asset, 'availableAmount': availableAmount, 'floatAmount_d': floatAmount_d, 'frozenAmount_d': frozenAmount_d, 'frozenMarginAmount_d': frozenMarginAmount_d, 'initialAmount': initialAmount, 'marginAmount_d': marginAmount_d, 'netAmount': netAmount, 'positionValue': positionValue, 'realLeverageRatio': realLeverageRatio, 'totalAmount_d': totalAmount_d, 'transferAmount': transferAmount, 'transferFrozenAmount': transferFrozenAmount};
                                spotAssetJson.push(data);
                                RefreshTable('#spot_asset', spotAssetJson);
                            }
                        }

                        var totalAssetChecked = account.TotalAssetChecked;
                        if (JSON.stringify(totalAssetChecked) != '{}') {
                            var totalAssetJson = [];
                            for (var assetK in totalAssetChecked) {
                                totalAssetItem = totalAssetChecked[assetK];
                                var asset = totalAssetItem.asset.split('|')[0];
                                var availableAmount = totalAssetItem.availableAmount.split('|')[0];
                                var floatAmount_d = totalAssetItem.floatAmount_d.split('|')[0];
                                var frozenAmount_d = totalAssetItem.frozenAmount_d.split('|')[0];
                                var frozenMarginAmount_d = totalAssetItem.frozenMarginAmount_d.split('|')[0];
                                var initialAmount = totalAssetItem.initialAmount.split('|')[0];
                                var marginAmount_d = totalAssetItem.marginAmount_d.split('|')[0];
                                var netAmount = totalAssetItem.netAmount.split('|')[0];
                                var positionValue = totalAssetItem.positionValue.split('|')[0];
                                var realLeverageRatio = totalAssetItem.realLeverageRatio.split('|')[0];
                                var totalAmount_d = totalAssetItem.totalAmount_d.split('|')[0];
                                var transferAmount = totalAssetItem.transferAmount.split('|')[0];
                                var transferFrozenAmount = totalAssetItem.transferFrozenAmount.split('|')[0];
                                var data = {'asset': asset, 'availableAmount': availableAmount, 'floatAmount_d': floatAmount_d, 'frozenAmount_d': frozenAmount_d, 'frozenMarginAmount_d': frozenMarginAmount_d, 'initialAmount': initialAmount, 'marginAmount_d': marginAmount_d, 'netAmount': netAmount, 'positionValue': positionValue, 'realLeverageRatio': realLeverageRatio, 'totalAmount_d': totalAmount_d, 'transferAmount': transferAmount, 'transferFrozenAmount': transferFrozenAmount};
                                totalAssetJson.push(data);
                                RefreshTable('#total_asset', totalAssetJson);
                            }
                        }

                        var uFutureAssetChecked = account.UFutureAssetChecked;
                        if (JSON.stringify(uFutureAssetChecked) != '{}') {
                            var ufutureAssetJson = [];
                            for (var assetK in uFutureAssetChecked) {
                                ufutureAssetItem = uFutureAssetChecked[assetK];
                                var asset = ufutureAssetItem.asset.split('|')[0];
                                var availableAmount = ufutureAssetItem.availableAmount.split('|')[0];
                                var floatAmount_d = ufutureAssetItem.floatAmount_d.split('|')[0];
                                var frozenAmount_d = ufutureAssetItem.frozenAmount_d.split('|')[0];
                                var frozenMarginAmount_d = ufutureAssetItem.frozenMarginAmount_d.split('|')[0];
                                var initialAmount = ufutureAssetItem.initialAmount.split('|')[0];
                                var marginAmount_d = ufutureAssetItem.marginAmount_d.split('|')[0];
                                var netAmount = ufutureAssetItem.netAmount.split('|')[0];
                                var positionValue = ufutureAssetItem.positionValue.split('|')[0];
                                var realLeverageRatio = ufutureAssetItem.realLeverageRatio.split('|')[0];
                                var totalAmount_d = ufutureAssetItem.totalAmount_d.split('|')[0];
                                var transferAmount = ufutureAssetItem.transferAmount.split('|')[0];
                                var transferFrozenAmount = ufutureAssetItem.transferFrozenAmount.split('|')[0];
                                var data = {'asset': asset, 'availableAmount': availableAmount, 'floatAmount_d': floatAmount_d, 'frozenAmount_d': frozenAmount_d, 'frozenMarginAmount_d': frozenMarginAmount_d, 'initialAmount': initialAmount, 'marginAmount_d': marginAmount_d, 'netAmount': netAmount, 'positionValue': positionValue, 'realLeverageRatio': realLeverageRatio, 'totalAmount_d': totalAmount_d, 'transferAmount': transferAmount, 'transferFrozenAmount': transferFrozenAmount};
                                ufutureAssetJson.push(data);
                                RefreshTable('#ufuture_asset', ufutureAssetJson);
                            }
                        }

                        var uFuturePositionChecked = account.UFuturePositionChecked;
                        if (JSON.stringify(uFuturePositionChecked) != '{}') {
                            var ufuturePositionJson = [];
                            for (var positionK in uFuturePositionChecked) {
                                var ufuturePositionItem = uFuturePositionChecked[positionK];
                                var instrumentKey = ufuturePositionItem.instrumentKey;
                                var netPosition_d = ufuturePositionItem.netPosition_d.split('|')[0];
                                var netAvgPrice_d = ufuturePositionItem.netAvgPrice_d.split('|')[0];
                                var floatAmount_d = ufuturePositionItem.floatAmount_d.split('|')[0];
                                var liquidationPrice_d = ufuturePositionItem.liquidationPrice_d.split('|')[0];
                                var underwayAbPosition = ufuturePositionItem.underwayAbPosition.split('|')[0];
                                var underwayNetPosition = ufuturePositionItem.underwayNetPosition.split('|')[0];
                                var data = {'instrumentKey': instrumentKey, 'netPosition_d': netPosition_d, 'netAvgPrice_d': netAvgPrice_d, 'floatAmount_d': floatAmount_d, 'liquidationPrice_d': liquidationPrice_d, 'underwayAbPosition': underwayAbPosition, 'underwayNetPosition': underwayNetPosition};
                                ufuturePositionJson.push(data);
                                RefreshTable('#ufuture_position', ufuturePositionJson);
                            }
                        }
                    }
                }
            }      
        });
    });

function InitTableConfig() {
    // NOTE: the account "profile"/main-form fields used to be rendered into a
    // generic #main_form DataTable; they are now written directly into the
    // labeled header cards in the content block below (see the
    // MainFormChecked handling above), so there is no DataTable to init here.

    $('#exposure_form').DataTable({
        "ordering": true,
        "info": true,
        "searching": true,
        "paging": false,
        // "scrollX": true,
        "columns": [
            {data: 'Symbol', title: 'Symbol'},
            {data: 'ExposureAmount', title: 'ExposureAmount'},
            {data: 'ExposureValue', title: 'ExposureValue'},
            {data: 'InitialAmount', title: 'InitialAmount'},
            {data: 'InitialValue', title: 'InitialValue'},
            {data: 'DeltaAmount', title: 'DeltaAmount'},
            {data: 'DeltaValue', title: 'DeltaValue'}
        ]
    });

    $('#total_asset').DataTable({
        "ordering": true,
        "info": true,
        "searching": true,
        "paging": false,
        // "scrollX": true,
        "columns": [
            {data: 'asset', title: 'asset'},
            {data: 'totalAmount_d', title: 'totalAmount_d'},
            {data: 'positionValue', title: 'positionValue'},
            {data: 'realLeverageRatio', title: 'realLeverageRatio'},
            {data: 'netAmount', title: 'netAmount'},
            {data: 'initialAmount', title: 'initialAmount'},
            {data: 'availableAmount', title: 'availableAmount'},
            {data: 'floatAmount_d', title: 'floatAmount_d'},
            {data: 'frozenAmount_d', title: 'frozenAmount_d'},
            {data: 'frozenMarginAmount_d', title: 'frozenMarginAmount_d'},
            {data: 'marginAmount_d', title: 'marginAmount_d'},
            {data: 'transferAmount', title: 'transferAmount'},
            {data: 'transferFrozenAmount', title: 'transferFrozenAmount'}
        ]
    });

    $('#spot_asset').DataTable({
        "ordering": true,
        "info": true,
        "searching": true,
        "paging": false,
        // "scrollX": true,
        "columns": [
            {data: 'asset', title: 'asset'},
            {data: 'totalAmount_d', title: 'totalAmount_d'},
            {data: 'positionValue', title: 'positionValue'},
            {data: 'realLeverageRatio', title: 'realLeverageRatio'},
            {data: 'netAmount', title: 'netAmount'},
            {data: 'initialAmount', title: 'initialAmount'},
            {data: 'availableAmount', title: 'availableAmount'},
            {data: 'floatAmount_d', title: 'floatAmount_d'},
            {data: 'frozenAmount_d', title: 'frozenAmount_d'},
            {data: 'frozenMarginAmount_d', title: 'frozenMarginAmount_d'},
            {data: 'marginAmount_d', title: 'marginAmount_d'},
            {data: 'transferAmount', title: 'transferAmount'},
            {data: 'transferFrozenAmount', title: 'transferFrozenAmount'}
        ]
    });

    $('#ufuture_asset').DataTable({
        "ordering": true,
        "info": true,
        "searching": true,
        "paging": false,
        // "scrollX": true,
        "columns": [
            {data: 'asset', title: 'asset'},
            {data: 'totalAmount_d', title: 'totalAmount_d'},
            {data: 'positionValue', title: 'positionValue'},
            {data: 'realLeverageRatio', title: 'realLeverageRatio'},
            {data: 'netAmount', title: 'netAmount'},
            {data: 'initialAmount', title: 'initialAmount'},
            {data: 'availableAmount', title: 'availableAmount'},
            {data: 'floatAmount_d', title: 'floatAmount_d'},
            {data: 'frozenAmount_d', title: 'frozenAmount_d'},
            {data: 'frozenMarginAmount_d', title: 'frozenMarginAmount_d'},
            {data: 'marginAmount_d', title: 'marginAmount_d'},
            {data: 'transferAmount', title: 'transferAmount'},
            {data: 'transferFrozenAmount', title: 'transferFrozenAmount'}
        ]
    });

    $('#ufuture_position').DataTable({
        "ordering": true,
        "info": true,
        "searching": true,
        "paging": false,
        // "scrollX": true,
        "columns": [
            {data: 'instrumentKey', title: 'instrumentKey'},
            {data: 'netPosition_d', title: 'netPosition_d'},
            {data: 'netAvgPrice_d', title: 'netAvgPrice_d'},
            {data: 'floatAmount_d', title: 'floatAmount_d'},
            {data: 'liquidationPrice_d', title: 'liquidationPrice_d'},
            {data: 'underwayAbPosition', title: 'underwayAbPosition'},
            {data: 'underwayNetPosition', title: 'underwayNetPosition'}
        ]
    });

    $('#perpetual_asset').DataTable({
        "ordering": true,
        "info": true,
        "searching": true,
        "paging": false,
        // "scrollX": true,
        "columns": [
            {data: 'asset', title: 'asset'},
            {data: 'totalAmount_d', title: 'totalAmount_d'},
            {data: 'positionValue', title: 'positionValue'},
            {data: 'realLeverageRatio', title: 'realLeverageRatio'},
            {data: 'netAmount', title: 'netAmount'},
            {data: 'initialAmount', title: 'initialAmount'},
            {data: 'availableAmount', title: 'availableAmount'},
            {data: 'floatAmount_d', title: 'floatAmount_d'},
            {data: 'frozenAmount_d', title: 'frozenAmount_d'},
            {data: 'frozenMarginAmount_d', title: 'frozenMarginAmount_d'},
            {data: 'marginAmount_d', title: 'marginAmount_d'},
            {data: 'transferAmount', title: 'transferAmount'},
            {data: 'transferFrozenAmount', title: 'transferFrozenAmount'}
        ]
    });

    $('#perpetual_position').DataTable({
        "ordering": true,
        "info": true,
        "searching": true,
        "paging": false,
        // "scrollX": true,
        "columns": [
            {data: 'instrumentKey', title: 'instrumentKey'},
            {data: 'netPosition_d', title: 'netPosition_d'},
            {data: 'netAvgPrice_d', title: 'netAvgPrice_d'},
            {data: 'floatAmount_d', title: 'floatAmount_d'},
            {data: 'liquidationPrice_d', title: 'liquidationPrice_d'},
            {data: 'underwayAbPosition', title: 'underwayAbPosition'},
            {data: 'underwayNetPosition', title: 'underwayNetPosition'}
        ]
    });

}

function initNetValueChart() {
    $('#form_net_value_start_date').datetimepicker({
        language: 'zh-CN',
        format: 'yyyy-mm-dd',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });

    $('#form_net_value_end_date').datetimepicker({
        language: 'zh-CN',
        format: 'yyyy-mm-dd',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });

    // default to the trailing 30 days so the chart isn't empty on first view
    var today = new Date();
    var monthAgo = new Date();
    monthAgo.setDate(monthAgo.getDate() - 30);
    $('#netValueStartDate').val(formatDateForPicker(monthAgo));
    $('#netValueEndDate').val(formatDateForPicker(today));

    netValueChart = echarts.init(document.getElementById('netValueChart'));
    window.addEventListener('resize', function () {
        if (netValueChart) {
            netValueChart.resize();
        }
    });

    loadNetValueChart();
}

function formatDateForPicker(date) {
    var pad = function (n) { return n < 10 ? '0' + n : n; };
    return date.getFullYear() + '-' + pad(date.getMonth() + 1) + '-' + pad(date.getDate());
}

function loadNetValueChart() {
    var accountId = $('#accountId').val();
    var startDate = $('#netValueStartDate').val();
    var endDate = $('#netValueEndDate').val();

    if (!accountId || !startDate || !endDate) {
        return;
    }

    $.ajax({
        type: 'GET',
        url: '/get_net_value_data',
        data: {account: accountId, start: startDate, end: endDate},
        dataType: 'json',
        success: function (res) {
            renderNetValueChart(res['value'] || []);
        },
        error: function () {
            renderNetValueChart([]);
        }
    });
}

function renderNetValueChart(rows) {
    if (!netValueChart) {
        return;
    }

    if (!rows.length) {
        netValueChart.clear();
        netValueChart.setOption({
            title: {
                text: '所选时间范围内没有净值数据',
                left: 'center',
                top: 'middle',
                textStyle: {fontSize: 13, color: '#adb5bd', fontWeight: 'normal'}
            }
        });
        return;
    }

    // rows: [[account_id, net_value, daily_return, record_time], ...],
    // already ordered oldest-first by /get_net_value_data
    var dates = [];
    var netValues = [];
    var dailyReturnsPct = [];
    for (var i = 0; i < rows.length; i++) {
        dates.push(rows[i][3]);
        netValues.push(rows[i][1]);
        dailyReturnsPct.push((rows[i][2] * 100).toFixed(2));
    }

    netValueChart.setOption({
        tooltip: {trigger: 'axis'},
        legend: {data: ['净值', '日收益率(%)'], top: 0},
        grid: {left: 60, right: 60, top: 40, bottom: 30},
        xAxis: {type: 'category', data: dates, boundaryGap: false},
        yAxis: [
            {type: 'value', name: '净值', scale: true},
            {type: 'value', name: '日收益率(%)', scale: true, splitLine: {show: false}}
        ],
        series: [
            {
                name: '净值',
                type: 'line',
                data: netValues,
                smooth: true,
                showSymbol: false,
                yAxisIndex: 0,
                areaStyle: {opacity: 0.08}
            },
            {
                name: '日收益率(%)',
                type: 'bar',
                data: dailyReturnsPct,
                yAxisIndex: 1,
                barMaxWidth: 6
            }
        ]
    }, true);
}


</script>
{% endblock %}

{% block content %}
<input type="hidden" id="accountId" value="{{ account_id }}" data-page-node-id="P3djZD8ZB5c488bHKeguUQ">

<div class="page-header" data-page-node-id="P5e760rjFyWcM84euOxZPS">
    <div data-page-node-id="eXLsN3HEd8ofHZzUnHAFYx">
        <a class="back-link" href="/account_monitor" data-page-node-id="39xJSYRat0O6OCWxT0ryFN">&larr; 返回账户列表</a>
        <h4 class="mt-1" data-page-node-id="52ZcpkvPUG798h1yfXsVOP">账户详情 <small class="text-muted" style="font-size: 1rem; font-weight: 400;" data-page-node-id="GFbr4JvtyxcIKTdmFZS1CS">#{{ account_id }}</small></h4>
    </div>
    <div id="connStatus" class="conn-status is-offline" data-page-node-id="KHMr7MgQPdcVIjxYcJ5f2l">
        <span class="conn-dot" data-page-node-id="FJtFIDgOd5jG5XaTjoTyu9"></span>
        <span class="conn-label" data-page-node-id="r6EJrrDocFWXR9CALlyvPW">连接中…</span>
        <span class="conn-updated" data-page-node-id="CmS6PtpEZXEeGChcMU2yCE"></span>
    </div>
</div>

<div class="detail-header" data-page-node-id="4MFdTEdRTNcNnrJOyyoXGI">
    <div class="row" data-page-node-id="xDLmfGLZEQRvuUG4gfbg1z">
        <div class="col-6 col-md-2 mb-2" data-page-node-id="UNPw3rttI94HC22fpZPA9Q">
            <span class="detail-field-label" data-page-node-id="h6ACcrMgb2OOGMHOLXaBd5">产品名称</span>
            <div class="detail-field-value" id="fieldProductName" data-page-node-id="VWkXwC7U4FeZY0GbzMtjvj">--</div>
        </div>
        <div class="col-6 col-md-2 mb-2" data-page-node-id="DENzF1l34QT9bwD3QbrXcR">
            <span class="detail-field-label" data-page-node-id="oc6i3hANHo4FJcV27OPjB7">账户ID</span>
            <div class="detail-field-value" id="fieldAccountId" data-page-node-id="98TClDJZO8yzheyZydtTsT">--</div>
        </div>
        <div class="col-6 col-md-2 mb-2" data-page-node-id="L9otNmoM0bXQNX0PiVA2L4">
            <span class="detail-field-label" data-page-node-id="VbNxzm1JAiGPg9JbZ1PuUk">基础资产</span>
            <div class="detail-field-value" id="fieldBaseAsset" data-page-node-id="GiiuZzHke8FHp6lABHB5Ok">--</div>
        </div>
        <div class="col-6 col-md-2 mb-2" data-page-node-id="QhZ0gEphrktzw3DZWdvn9F">
            <span class="detail-field-label" data-page-node-id="3I9wOVXS2tW5DrayIC2GTF">数据时间</span>
            <div class="detail-field-value" id="fieldTime" data-page-node-id="3ojGGVePXH3qMFEzYNH4co">--</div>
        </div>
    </div>
</div>

<div class="stat-row" data-page-node-id="FPuJQbIueIdDrQ0bogE3LH">
    <div class="stat-card" data-page-node-id="Bpm9j1lGvMdJ8wKIbAkaW0">
        <span class="stat-label" data-page-node-id="yGLoIO3WQngC47XmulBazg">更新时间</span>
        <div class="stat-value" id="fieldUpdateTime" style="font-size: 1rem;" data-page-node-id="AjMnYqkstZhYsuEAX1d5kc">-- / --</div>
    </div>
    <div class="stat-card" data-page-node-id="rVRrNyYcwnGR0umCM7t7dz">
        <span class="stat-label" data-page-node-id="6tTYlVEpEYI2IKiGZ70OJT">净值 NetValue</span>
        <div class="stat-value" id="fieldNetValue" data-page-node-id="1kXmuri8j425xZPDKxGpiG">-- / --</div>
    </div>
    <div class="stat-card" data-page-node-id="8HtwJ6YSCJLXlEEzHB8Zde">
        <span class="stat-label" data-page-node-id="SB7AAQjiZkpPuXIXT8GGDX">净值增长率</span>
        <div class="stat-value" id="fieldNetValueGrowthRate" data-page-node-id="N1SXFS6p41iekVGEFAnQgm">-- / --</div>
    </div>
    <div class="stat-card" data-page-node-id="XwGVrRR8dUoVqUBDWvvRjq">
        <span class="stat-label" data-page-node-id="ccIMILSgoPf0uh6A4qvxeF">最大可借比例</span>
        <div class="stat-value" id="fieldMaxValueToLoanRatio" data-page-node-id="y3xMHiylPABrd4VLmecJOg">-- / --</div>
    </div>
    <div class="stat-card" data-page-node-id="0EB9s26Thdn2ckaCZkCG4f">
        <span class="stat-label" data-page-node-id="RMEWR7cmBkv7Y5rwbgPTm8">实际最大杠杆</span>
        <div class="stat-value" id="fieldMaxRealLeverage" data-page-node-id="v46Hf5pBoV62jZYjpSzrXa">-- / --</div>
    </div>
    <div class="stat-card" data-page-node-id="k4nA2I06AFl8O3wgYind9B">
        <span class="stat-label" data-page-node-id="uP7ijHq5XJSGi0KDROaIm9">风险敞口 RiskExposure</span>
        <div class="stat-value" id="fieldRiskExposure" data-page-node-id="qs7SazXeGCw5LGbVIGfN55">-- / --</div>
    </div>
    <div class="stat-card" data-page-node-id="cOKLJkZ1hc8AwUqKdHEtMb">
        <span class="stat-label" data-page-node-id="c7SBKoZ0Qpafi9Y8Xpu50a">在途订单价值</span>
        <div class="stat-value" id="fieldUnderwayOrderValue" data-page-node-id="W3CRFljvfxdjhF9vudDnaT">-- / --</div>
    </div>
    <div class="stat-card" data-page-node-id="L0AJaB6By6y4qBhiGcMusZ">
        <span class="stat-label" data-page-node-id="6qH0AH7FcSTNQPkMdFpYp4">风控校验 VerifyRisk</span>
        <div class="stat-value" id="fieldVerifyRisk" data-page-node-id="mIwOKkWgfQpKPoRlEVraDD">--</div>
    </div>
    <div class="stat-card" data-page-node-id="aHGOYpMfduYRBmyH50rAId">
        <span class="stat-label" data-page-node-id="AB21VtnFNaH2gLGvnUNxzN">占用率 Utilization</span>
        <div class="stat-value" id="fieldUtilization" data-page-node-id="CCaoA2rpALBIt2yrcY3j8b">--</div>
        <div class="util-bar-track" data-page-node-id="EAesvEkP7pJKxCLHYDFTfO"><div class="util-bar-fill" id="fieldUtilizationBar" style="width: 0%;" data-page-node-id="0tNrKE9GpBbkRP6NPX0fR3"></div></div>
    </div>
</div>

<ul class="nav nav-tabs section-tabs" data-page-node-id="9OiK8U78UOnwjT7MXBRGar">
    <li class="nav-item" data-page-node-id="5D6e3x4CpGhUin5c9eqSE5">
    <a class="nav-link active" aria-current="page" href="#netValueInfo" data-toggle="tab" data-page-node-id="lYDfVf8uDNv37E5dkipSyN">净值走势</a>
    </li>
    <li class="nav-item" data-page-node-id="InqWZgWTwlyPHtUsspIuyd">
    <a class="nav-link" href="#exposureInfo" data-toggle="tab" data-page-node-id="H5lPeA08Xrnw63zLW4iJfJ">Exposure</a>
    </li>
    <li class="nav-item" data-page-node-id="Ij46GeWLBfAyJKKv3q08lC">
    <a class="nav-link" href="#totalAssetInfo" data-toggle="tab" data-page-node-id="4xDx3FyFvaEqI0fmAWxxNq">TotalAsset</a>
    </li>
    <li class="nav-item" data-page-node-id="ZNCyTMNk0HgenTNtVMMyGv">
    <a class="nav-link" href="#spotAssetInfo" data-toggle="tab" data-page-node-id="AAYaXyWioCcnUvwnmGeO82">SpotAsset</a>
    </li>
    <li class="nav-item" data-page-node-id="Ncnp7F3KTQdSeyOvnfle6C">
        <a class="nav-link" href="#ufutureAssetInfo" data-toggle="tab" data-page-node-id="uqg0z7UVo9F4FATQcZQyJ7">UfutureAsset</a>
    </li>
    <li class="nav-item" data-page-node-id="OyDPjUsyPCidZpEit7vHec">
        <a class="nav-link" href="#ufuturePositionInfo" data-toggle="tab" data-page-node-id="BrfBwXKufkCEba3rrWIFGB">UfuturePosition</a>
    </li>
    <li class="nav-item" data-page-node-id="YZTRKcL5luzXz44cJ8qVsp">
        <a class="nav-link" href="#perpetualAssetInfo" data-toggle="tab" data-page-node-id="RbRd8vshsxfMsD6BhNroAu">PerpetualAsset</a>
    </li>
    <li class="nav-item" data-page-node-id="QAFpEZ4BcuVb01vk5ICk4E">
        <a class="nav-link" href="#perpetualPositionInfo" data-toggle="tab" data-page-node-id="EAAkgJeAFGDGBaCLOE84FX">PerpetualPosition</a>
    </li>
</ul>

<div class="tab-content" data-page-node-id="EeDwAyRmtRhNOyNpK9F6lL">
    <div class="tab-pane active" id="netValueInfo" data-page-node-id="UF02jqjQzGtkvB4fl6P1Mz">
        <div class="panel-card" data-page-node-id="dfjoIooGcY4Jmzhmt5ZCHu">
            <div class="row align-items-end mb-3" data-page-node-id="F2det6wJFSsQR94N77oArH">
                <div class="col-auto" data-page-node-id="g47YoBG8zZ8PAF9UGma8cZ">
                    <label class="control-label d-block mb-1" style="font-size: .8rem; color: #868e96;" data-page-node-id="snSjv6UDkmN5DJVmpWpRqe">开始日期</label>
                    <div class="input-group date" id="form_net_value_start_date" data-page-node-id="aZCxzTNg3n9Fcc4Y4PO41H">
                        <input class="form-control" size="10" type="text" id="netValueStartDate" readonly data-page-node-id="dNae0roE3tesAeUTLW1DNA">
                        <span class="input-group-addon" data-page-node-id="udnUI0Ci8SYOk2Vwi1n2y4"><span class="glyphicon glyphicon-calendar" data-page-node-id="loiqb91FqGsGTk74pYw75c"></span></span>
                    </div>
                </div>
                <div class="col-auto" data-page-node-id="0ujL2xZRbylTtPV6JM5hUv">
                    <label class="control-label d-block mb-1" style="font-size: .8rem; color: #868e96;" data-page-node-id="toWYCV9cL5QOFUTgVEpVLe">结束日期</label>
                    <div class="input-group date" id="form_net_value_end_date" data-page-node-id="6jnAeZyJa6HIDggf3CjjMp">
                        <input class="form-control" size="10" type="text" id="netValueEndDate" readonly data-page-node-id="MIH2VKr5lqf1ZCCESjhDH6">
                        <span class="input-group-addon" data-page-node-id="3ozLHN8apQfhBCHvOAW8dt"><span class="glyphicon glyphicon-calendar" data-page-node-id="VDNVBXboZQfSzHhDNRO5sn"></span></span>
                    </div>
                </div>
                <div class="col-auto" data-page-node-id="ROq9XfzhMh2VYOGJVcQWnT">
                    <button onclick="loadNetValueChart()" class="btn btn-sm btn-outline-primary" data-page-node-id="yaadCHH3KYMTrbeVWIWoBI">查询</button>
                </div>
            </div>
            <div id="netValueChart" style="width: 100%; height: 340px;" data-page-node-id="gC5OgMfxsijKzMkwlpttYr"></div>
        </div>
    </div>

    <div class="tab-pane" id="exposureInfo" data-page-node-id="EGzCqxjeiaouI3hRoowjqz">
        <div class="panel-card" data-page-node-id="qyCyP5sJAEPs6jiwMlY6oH">
            <table id="exposure_form" class="display table table-hover" style="width: 100%;" data-page-node-id="Em3iHWpCWiykPflfyu2zxe"></table>
        </div>
    </div>

    <div class="tab-pane" id="totalAssetInfo" data-page-node-id="SOMwu8wI1MFFW5mmUIv0b5">
        <div class="panel-card" data-page-node-id="pDsHvFXK2JaFGKBivP3eee">
            <table id="total_asset" class="display table table-hover" style="width: 100%;" data-page-node-id="nLT8E8oyLridtFVZRWrc1Q"></table>
        </div>
    </div>

    <div class="tab-pane" id="spotAssetInfo" data-page-node-id="PW2RwgjSUn0jQakbTOEGew">
        <div class="panel-card" data-page-node-id="ofTuCdDKvsDbyB1i2XnXcD">
            <table id="spot_asset" class="display table table-hover" style="width: 100%;" data-page-node-id="b5JhBNqapG4vGy13y62WEK"></table>
        </div>
    </div>

    <div class="tab-pane" id="ufutureAssetInfo" data-page-node-id="8rowMvXhX8KAIolFbTnY6q">
        <div class="panel-card" data-page-node-id="I0kVAob01pHfReLDyvgi1o">
            <table id="ufuture_asset" class="display table table-hover" style="width: 100%;" data-page-node-id="ObGgeVkotvWJcP15sXrGtd"></table>
        </div>
    </div>

    <div class="tab-pane" id="ufuturePositionInfo" data-page-node-id="A0KEhybJDV2WeBAVjQFciD">
        <div class="panel-card" data-page-node-id="7E8dWvyt5qLA0ba4IoORt4">
            <table id="ufuture_position" class="display table table-hover" style="width: 100%;" data-page-node-id="Xw0W3b09wIdfGlzYpBHUDN"></table>
        </div>
    </div>

    <div class="tab-pane" id="perpetualAssetInfo" data-page-node-id="5x489uukMqKbtdUTWWRnjq">
        <div class="panel-card" data-page-node-id="4gC91Qg2bw4vQMdbF1Ys9t">
            <table id="perpetual_asset" class="display table table-hover" style="width: 100%;" data-page-node-id="suNuByftVrPgsEUtJf0ERB"></table>
        </div>
    </div>

    <div class="tab-pane" id="perpetualPositionInfo" data-page-node-id="v1Jx821YHrHpljZ4lGPev0">
        <div class="panel-card" data-page-node-id="8KQViBrQ1y41SjOPTXJwxV">
            <table id="perpetual_position" class="display table table-hover" style="width: 100%;" data-page-node-id="JbAHB1e5IBkmCfqAfFCNR1"></table>
        </div>
    </div>

</div>

{% endblock %}
